# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Test / Coverage
.pytest_cache/
.coverage
.coverage.*
.cache
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
.hypothesis/

# Virtual env
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project-specific
profiles/
*.log
chrome-user-data/
*.local.json